<h3>Cart</h3>
<p>
  <a routerLink="/shipping">Shipping Prices</a>
  <!-- This routerLink links the prices view to the cart view-->
</p>
<div class="cart-item" *ngFor="let item of items">
  <!--This is the cart component template, used to display each item in the cart-->
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <!-- This is the actual form; it uses `ngSubmit` to call the onSubmit method with the current value of the form-->
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" formControlName="name">
    <!-- Using the `formControlName` attribute to bind name and address to the input fields -->
  </div>
  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>
  <button class="button" type="submit">Purchase</button>
</form>
